.content {
  background: url(../../assets/HeroPicture1x.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 300px 16px 60px;
  text-align: center;
  width: 100%;
}

.title {
  font-weight: 700;
  font-size: 36px;
  line-height: 120%;
  margin-bottom: 16px;
  color: var(--white);
}

.text {
  font-weight: 600;
  font-size: 18px;
  line-height: 133%;
  margin-bottom: 32px;
  color: var(--white);
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 276px;
  height: 44px;
  background-color: var(--button);
  color: var(--white);
  border-radius: 12px;
  margin: 0 auto;
  transition: var(--transition);
}

.btn:hover {
  background-color: var(--button-hover);
}

.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
}

/* Tablet */
@media screen and (min-width: 768px) {
  .content {
    padding-top: 360px;
    padding-bottom: 60px;
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    font-size: 48px;
  }

  .text {
    font-size: 20px;
    margin-bottom: 36px;
  }
}

/* Desktop */
@media screen and (min-width: 1440px) {
  .content {
    padding-top: 436px;
    padding-left: 128px;
    padding-right: 128px;
  }

  .title {
    font-size: 60px;
  }

  .text {
    font-size: 24px;
    margin-bottom: 40px;
  }
}
