.img {
  /* position: relative;
  width: 640px;
  height: 512px;
  left: 120px;
  top: 152px;
  border-radius: 18.7419px; */

  width: 100%;
  height: auto;
  border-radius: 18.74px;
  object-fit: cover;
}
