.header {
  background-color: var(--grei-badges);
  padding: 14px 0px;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 100%;
  flex-wrap: wrap;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link,
.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  transition: var(--transition);
}

.img {
  width: 100%;
  height: auto;
}

.active {
  color: var(--button-hover);
  font-weight: 600;
}

.link:hover {
  color: var(--button-hover);
}

@media screen and (min-width: 768px) {
  .link,
  .active {
    font-size: 16px;
  }
}

@media screen and (min-width: 1440px) {
  .header {
    padding: 24px 0;
  }

  .nav {
    gap: 38px;
  }

  .navlink {
    flex-direction: row;
    gap: 32px;
  }

  .link,
  .active {
    font-size: 16px;
  }
}
