.header {
  background-color: var(--grei-badges);
  padding: 14px 0px;
  margin: 10px 0;
}

.container {
  padding: 0 16px;
  margin: 0 auto;
  max-width: 1280px;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;

  max-width: 100%;
  flex-wrap: wrap; /* дозволяє переносити вміст */
  overflow-x: hidden;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 16px;
}

.link,
.active {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.2;
  color: var(--black);
  transition: var(--transition);

  .link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.img {
  width: 100%;
  height: auto;
}

.active {
  color: var(--button-hover);
  font-weight: 600;
}

.link:hover {
  color: var(--button-hover);
}

@media screen and (min-width: 768px) {
  .header {
    padding: 20px 0;
  }

  .nav {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

  .navlink {
    flex-direction: row;
    gap: 32px;
  }

  .link,
  .active {
    font-size: 16px;
  }
}

@media screen and (min-width: 1280px) {
  .header {
    padding: 24px 0;
  }
}
