.header {
  background-color: var(--grei-badges);
  padding: 24px 0px;
}

.nav {
  /* padding: 24px 120px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}

.logo {
  display: flex;
  align-items: center;
  width: 104px;
  height: 16px;
}

.active {
  color: var(--button-hover);
  font-weight: 600;
  border-bottom: 2px solid var(--button-hover);
}

.link,
.active {
  transition: color 0.3s ease, border-bottom 0.3s ease;
}

.img {
  width: 100%;
  height: auto;
}

.navlink {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: var(--black);
}

.link:hover {
  color: var(--button-hover);
}
