.formContainer {
  padding: 32px;
  width: 100%;
  border: 1px solid #dadde1;
  border-radius: 10px;
}

.formTitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;
  margin-bottom: 24px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
}

.text {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8d929a;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;
  width: 576px;
  height: 348px;
}

.formik {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 576px;
  height: 280px;
}

.input {
  padding: 12px 20px;
  width: 576px;
  height: 48px;
  background-color: #f7f7f7;
  border: none;
  border-radius: 12px;
}

.errorWrapper {
  height: 16px;
  margin-top: 4px;
}

.error {
  color: red;
  font-size: 12px;
  margin-top: 4px;
}

.comment {
  padding: 12px 20px 56px;
  height: 88px;
  margin-top: 10px;
}
.btn {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 51px;
  width: 156px;
  height: 44px;
  background-color: var(--button);
  border-radius: 12px;
  margin-top: 10px;
}

.btn:hover {
  background-color: var(--button-hover);
}
