.detalis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
  width: 100%;
  margin-top: 16px;
  padding: 0 16px;
  box-sizing: border-box;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 6px;
}

.nameBlok {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 12px;
  width: 100%;
  justify-content: space-between;
}

.name {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #101828;
  margin: 0;
  flex-shrink: 1;
}

.id {
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  color: #8d929a;
  white-space: nowrap;
}

.menuLocation {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
}

.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  fill: #8d929a;
}

.city {
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  align-items: center;
}

.mileage {
  color: #8d929a;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  color: #3470ff;
  margin: 0;
  margin-top: 8px;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  margin: 0;
  width: 100%;
}

@media (min-width: 768px) {
  .detalis {
    gap: 20px;
    padding: 0 16px;
  }

  .name {
    font-size: 22px;
    line-height: 30px;
  }

  .id {
    font-size: 15px;
    line-height: 20px;
  }

  .price {
    font-size: 22px;
    line-height: 30px;
  }
}

@media (min-width: 1440px) {
  .detalis {
    width: 488px;
    padding: 0;
  }

  .name {
    font-size: 24px;
    line-height: 32px;
  }

  .price {
    font-size: 24px;
    line-height: 32px;
  }

  .nameBlok {
    justify-content: flex-start;
  }
}
