.detalis {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 488px;
  margin-top: 20px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 8px;
}

.nameBlok {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  gap: 16px;
}

.name {
  align-items: flex-start;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #101828;
  margin: 0;
  flex-shrink: 1;
}

.id {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #8d929a;
  white-space: nowrap;
  align-items: flex-start;
}

.det {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 12px;
  width: 100%;
}

.menuLocation {
  display: flex;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
}

.icon {
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-top: 2px;
  fill: #8d929a;
}

.locationBlock {
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 100%;
}

.city {
  font-size: 14px;
  line-height: 20px;
  color: #101828;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.mileage {
  color: #8d929a;
}

.price {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: #3470ff;
  margin: 0;
}

.text {
  font-size: 14px;
  line-height: 20px;
  color: #475467;
  margin: 0;
  width: 100%;
}
